/* CSS for harrisonchristianhall.com */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #4c566a;
    color: #d8dee9;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
}

footer {
    background-color: #222222;
}

.card-body {
    background-color: #333333;
}

.card {
    background-color: #333333;
}

.card-body.darker, .card.darker {
    background-color: #4c566a;
}

.jumbotron {
    background-color: #434c5e;
    border-radius: 0%;
}

.text-muted {
    color: #cccccc;
}

#work, #resume {
    background-color: #3b4252;
}

.list-group-item {
    background-color: #333333;
}

.card-header {
    background-color: #222222;
    font-size: 1.5em;
}

.badge {
    font-size: 1em;
}

.navbar-expand-lg, .nav-link, .navbar-brand {
    background-color: #2e3440;
    color: #d8dee9;
}
.nav-link:hover, .navbar-brand:hover{
    color: #cccccc;
}

.btn, .badge {
    margin-top: 2px;
    margin-bottom: 2px;
}



.btn-primary, .badge-primary {
    background-color: #81a1c1;
    border-color: #81a1c1;
}

.badge-danger {
    background-color: #bf616a;
    border-color: #bf616a;
}

.btn-primary:hover {
    background-color: #5e81ac;
    border-color: #5e81ac;
}

#image-card {
    background-size: cover;
}
