/* CSS for harrisonchristianhall.com */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #333333;
    color: #ffffff;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
}

footer {
    background-color: #666666;
}

.card-body {
    background-color: #707070;
}

.card {
    background-color: #707070;
}

.card-body.darker, .card.darker {
    background-color: #333333;
}

.jumbotron {
    background-color: #474747;
    border-radius: 0%;
}

.text-muted {
    color: #cccccc;
}

#work, #resume {
    background-color: #5b5b5b;
}

.list-group-item {
    background-color: #707070;
}

.card-header {
    background-color: #666666;
    font-size: 1.5em;
}

.badge {
    font-size: 1em;
}

.navbar-expand-lg, .nav-link, .navbar-brand {
    background-color: #444862;
    color: #ffffff;
}
.nav-link:hover, .navbar-brand:hover{
    color: #cccccc;
}

.btn, .badge {
    margin-top: 2px;
    margin-bottom: 2px;
}



.btn-primary, .badge-primary {
    background-color: #61a3b1;
    border-color: #61a3b1;
}

.badge-danger {
    background-color: #b23b3b;
    border-color: #b23b3b;
}

.btn-primary:hover {
    background-color: #45747e;
    border-color: #45747e;
}

#image-card {
    background-size: cover;
}
