:root {
	/*Original Color Scheme
	--maincolor: #66b2ff;
	--linkcolor: #000000;
	--secondarycolor: #343d46;
	--nameandbutton: #FFFFFF;
	--background: #FFFFFF;
	/**/

	/*New Color Scheme
	--secondarycolor: #21c2f8;
	--linkcolor: #202020;
	--background: #bdc3c7;
	--nameandbutton: #f3f7f8;
	--maincolor: #2c3e50;
	/**/

	/*New Scheme 2*/
	--maincolor: #3D699A;
	--secondarycolor: #0D0F29;
	--nameandbutton: #ACC2DB;
	--linkcolor: #0D0F29;
	--background: #ACC2DB;
	/**/

	/*Dappled Macaroon
	--maincolor: #e8b3a4;
	--secondarycolor: #51dad0;
	--nameandbutton: #53a0c1;
	--linkcolor: #8b83ad;
	--background: #b1b9ed;
	/**/
	
	/*Dracula Color Scheme
	--secondarycolor: #6272a4;
	--linkcolor: #ffb86c;
	--maincolor: #ff79c6;
	--background: #383c4a;
	--nameandbutton: #f1fa8c;
	*/

	/*Blues
	--maincolor: #25274D;
	--linkcolor: #464866;
	--nameandbutton: #AAABB8;
	--background: #2E9CCA;
	--secondarycolor: #29648A;
   */

	/*vaporwave
	--maincolor: #01cdfe;
	--linkcolor: #05ffa1;
	--secondarycolor: #b967ff;
	--nameandbutton: #fffb96;
	--background: #ff71ce;
	*/

	--titleheight: 120px;
	--menuheight: 110px; /*10 px off*/
	--namesize: 85px;
}

.header {
	display: block;
	position: fixed;
	width: 100vw;
	background-color: var(--secondarycolor);
	height: var(--titleheight); /*set above*/
	top: 0;
	left: 0;
}

table {
    position: fixed;
    display: block;
    border-collapse: collapse;
    color: var(--linkcolor);
    font-family: 'Ubuntu',Helvetica, Arial;	
    font-size: 16px;
    border-radius: 6px;
    margin: 0;
    text-align: center;
    border: 3px solid var(--secondarycolor);
    border-top: 0px;
    text-transform: uppercase;
    background-color: var(--maincolor);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: var(--menuheight);	
    margin-left: 19vw;
    margin-right: 20vw;
}

body {
	background-color: var(--background);
}

.texttable{
	margin-top: 500px;
}

th {
    position: center center;
	left: 0;
	right: 0;
    padding-right: 5px;
    width: 10%;
}

td {
    position: center center;
	font-family: 'Ubuntu',Helvetica, Arial;
    font-size: 16px;
    margin: 5px;
    position: center center;
    text-align: center;
    /*width: 50%;*/
}

h1 {
	color: var(--nameandbutton);
	font-family: 'Ubuntu', Helvetica, Arial;
	font-size: var(--namesize);
	line-height: var(--namesize);
	margin: 0;
	text-align: center;
	top: 20%;
	vertical-align: middle;
	position: relative;
	transform: translateY(0%);
}

.button {
    border: none;
    border-radius: 4px;
    color: var(--nameandbutton);
	background-color: var(--maincolor);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display:inline-block;
    height: 100%;
    width: 100%;
}

.button1 {
    background-color: var(--maincolor);
    color: var(--secondarycolor);
}

.button1:hover {
    background-color: var(--secondarycolor);
    color: var(--nameandbutton);
	border: 20px white;
}

/** List style **/
h2 {
	color: var(--maincolor);
	font-family: 'Ubuntu',Helvetica, Arial;
	font-size: 28px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
}

h3 {
	font-weight: bold;
	color: var(--maincolor);
	font-family: 'Ubuntu',Helvetica, Arial;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	margin: 0 auto;
	padding: 0;
	width: 50%;
}

.mainli {
	border-bottom: 3px solid var(--secondarycolor);
	list-style: none;
	margin: 0px 0px;
	padding-top: 40px;
	padding-bottom: 40px;
}

p {
	color: var(--secondarycolor);
	line-height: 32px;
	font-family: 'Ubuntu',Helvetica, Arial;
	font-size: 20px;
	font-weight: 100;
}

.pcenter {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

#harrison, .harrison, #harrison:visited, .harrison:visited, .harrison:onclick, #harrison:onclick {
  	color: var(--nameandbutton);
	font-family: 'Ubuntu',Helvetica, Arial;
  	font-size: 100px;
  	line-height: 100px;
  	margin: 0;
 	text-align: center;
  	top: 20%;
  	vertical-align: middle;
  	position: relative;
  	text-decoration: none;
}

h6 {
	font-family: 'Ubuntu',Helvetica, Arial;
	font-size: 13px;
	line-height: 16px;
	font-weight: 900;
	text-align: center center;
	text-transform: uppercase;
  	letter-spacing: 2px;
  	text-align: center;
  	margin: 0px 10px;
}

#norm:visited, #norm {
	text-decoration: none;
	background-color: none;
	font-family: 'Ubuntu',Helvetica, Arial;
	font-size: 13px;
	font-weight: 900;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

.norm, .norm1:visited, .norm1, .norm:visited {
	text-decoration: none;
	background-color: none;
	color: var(--linkcolor);
	font-family: 'Ubuntu',Helvetica, Arial;
	font-size: 13px;
	font-weight: 900;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

.normcenter, .normcenter:visited {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: none;
	color: var(--linkcolor);
	font-family: 'Ubuntu',Helvetica, Arial;
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

.profilepic, #profilepic {
	border-radius: 50%;
	width: 15vw;
	height: auto;
	position: center center;
	/*margin: 0 auto 0 auto;*/
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.wideimage {
	border-radius: 3%;
	position: center;
	width: 100%;
	height: auto;
}

.smallimage {
	height: auto;
	/*set width yourself*/
	position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.spacebar {
	display: block;
	height: 160px;
}
