:root {


}

.mainsection {
	color: var(--secondarycolor);
	text-align: center;
	font-family: Helvetica, Arial;
}

.infotext {
	color: var(--secondarycolor);
	text-align: center;
	font-family: Helvetica, Arial;
}

.secondsection {
	text-align: left;
	font-size: 25px;
	color: var(--maincolor);
	padding-left: 15%;
	font-family: Helvetica, Arial;
}

.bulletpoint {
	width: 70%;
	font-size: 20px;
	color: var(--secondarycolor);
	padding-left: 10%;
	list-style: square;
	border-bottom: none;
	font-family: Helvetica, Arial;
}

.bulletpoint.a {
	list-style-type: square;
}

.bulletpoint.b {

}

hr {
	color: var(--secondarycolor);
	color: black;
}
