
.main-discussion-content {
    padding-top: 40px;
}

.tagline {
    color: gray;
    font-size:85%;
    margin-bottom: 5px;
}

.post-name {
    color: black;
    font-weight: bold;
    margin-right: 0.5em;
}

.post-content > p {
    margin-top: 0;
    margin-bottom: 5px;
}

.post-group {
    margin-bottom: 5px;
}

.post {
    padding-bottom: 10px;
    border-left: 1px dotted;
}

.first-level {
    padding-left: 10px;
    border-left-color: transparent;
}

.reply {
    margin-left: 45px;
    border-left-color: #DDF;
    padding-left: 20px;
}

.post-unseen {
    border-left-color: blue;
}
.post-featured {
    border-left-color: red;
}


.post-buttons {
    margin-bottom: 5px;
}

.post-buttons > span {
    cursor: pointer;
    font-size:85%;
    margin-right: 1em;
    font-weight: 500;
    color: gray;
}
.post-buttons > span:hover {
    text-decoration: underline;
}


.post-reply-text {
    height: 100px;
    width: 500px;
}

.discussion-item {
    cursor: pointer;
}

.button-group > button {
    margin-right: 1em;
}

.on-hover:hover > .hover-show {
    display: inline-block;
    visibility: visible;
}


.unseen {
    /*background-color: #ADD8E6;*/
    background-color: #D0E8F0;
}

.discussion-unseen > td {
    background-color: #ADD8E6;
}

.notif-hide {
    cursor: pointer;
    color: blue;
    font-size: 85%;
}
.notif-hide:hover {
    text-decoration: underline;
}

.notif-name {
    color: black;
    font-weight: bold;
}

.notif-verb {
    color: DarkBlue;
}

.discussion-row-data {
    word-wrap: break-word;
}

.table-fixed {
    table-layout: fixed;
}

.discussion-table-title {
    width: 50%;
}


.table-striped tbody>tr.discussion-unviewed:nth-child(odd)>td, .table-striped tbody>tr.discussion-unviewed:nth-child(odd)>th
{
    background-color: #D0E8F0;
}

.table-striped tbody>tr.discussion-unviewed:nth-child(even)>td, .table-striped tbody>tr.discussion-unviewed:nth-child(even)>th
{
    background-color: #DEEFF4;
}

.table-hover tbody tr.discussion-unviewed:hover>td, .table-hover tbody tr.discussion-unviewed:hover>th
{
    background-color: #BCDEEA;
}

.dark .table-striped tbody>tr.discussion-unviewed:nth-child(odd)>td, .dark .table-striped tbody>tr.discussion-unviewed:nth-child(odd)>th
{
    background-color: #413C54;
}
.dark .table-striped tbody>tr.discussion-unviewed:nth-child(even)>td, .dark .table-striped tbody>tr.discussion-unviewed:nth-child(even)>th
{
    background-color: #544F65;
}
.dark .table-hover tbody tr.discussion-unviewed:hover>td, .dark .table-hover tbody tr.discussion-unviewed:hover>th
{
    background-color: #343043;
}
.dark hr
{
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
}
.dark .unseen
{
    background-color: #544F65;
}
